extends ./layout.jade
block content
    script
        | var token = "#{token}";
    script(src="//simplewebrtc.com/latest.js")
    script(src="sphe.js")

    div(style="text-align: center")
        audio(id="horn")
            source(src="/horn.mp3")
            Your browser does not support audio tags.
        h1
            | rovr stream for token
            code(class="token") #{token}
        br
        a(href="/logout", class="btn btn-danger btn-xs") Reset Token
        a(class="btn btn-warning btn-xs", onclick="$('#remotesVideos').append($('#remotesVideos').html());") Split VR
        a(class="btn btn-primary btn-xs", onclick="play_horn();") Play Horn

        br
        br
        div(id="remotesVideos")
