doctype html
html(lang="en")
  head
    script(src="//code.jquery.com/jquery.js")
    link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Exo+2:100italic,100,200italic,200,300italic,300,400')
    link(href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css", rel="stylesheet")
    link(rel='stylesheet', href='//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css')
    link(href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.1/cosmo/bootstrap.min.css", rel="stylesheet")
    link(href="//fonts.googleapis.com/css?family=Open+Sans:400" rel="stylesheet" type="text/css")
    link(href="/sphe.css")
    block css
    title Sphe-rovr

  body
      block content
